* {
	box-sizing: border-box;
}

body {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.4rem;
	background: whitesmoke;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

ol {
	list-style-position: inside;
	width: 600px;
	max-width: 100%;
	background: white;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.1rem;
}

li {
	padding: 0 0 0 1rem;
}

li:not(:last-child) {
	border-bottom: 1px solid lightblue;
}

li:first-child {
	margin-top: 1rem;
}

li:last-child {
	margin-bottom: 1rem;
}

::marker {
	--image: '🍋 ';
	content: counter(list-item) ' ' var(--image);
}

li:nth-child(2)::marker {
	--image: '🧮 ';
}

li:nth-child(3)::marker {
	--image: '🗑 ';
}

li:nth-child(4)::marker {
	--image: '🪴 ';
}

li:nth-child(5)::marker {
	--image: '🔑 ';
}

